<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ERRO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hamburger {
            transition: transform 0.3s ease;
        }

        .hamburger.active {
            transform: rotate(90deg);
        }
    </style>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">

<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">

    <h1 class="text-2xl font-bold mb-6 text-center">Ocorreu um erro...</h1>

    <p class="bg-red-100 font-bold">
        <span th:text="${mensagem}"></span>
    </p>
    <a th:href="@{/}">Voltar para a página inicial</a>

</div>
<br>

</body>
</html>