<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HOME</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <style>
    .hamburger {
        transition: transform 0.3s ease;
    }

    .hamburger.active {
        transform: rotate(90deg);
    }
  </style>
</head>
<body class="bg-gray-100 p-6">
<div th:insert="~{fragments/header :: header}">
  MENU NO HEADER
</div>
<div class="container mx-auto">
  <h1 th:text="#{welcome.text}" class="text-3xl font-bold mb-6 text-center">erro se falhar</h1>
</div>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>
</body>
</html>